@{
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-push-2" id="businessLoginMainDiv">
            <span class="businessLoginSpan"><input type="text" class="form-control" placeholder="Username"/></span><br />
            <span class="businessLoginSpan"><input type="password" class="form-control" placeholder="Password" /></span><br />
            <span class="businessLoginSpan"><button class="btn btn-primary" id="businessLoginButtonLogin">Login</button><button id="businessLoginButtonRegister" class="btn btn-primary">Register</button></span><br />
        </div>
    </div>
    </div>
</div>
