@{
    Layout = "_Layout";

}

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h2>Charity Results</h2>

		</div>
	</div>
    <div class="row">
        <div class="col-sm-12">
            @foreach(var charity in Model)
            {
    			<div class="panel panel-default" style="border: 3px solid orange;">
                    <div class="panel-body">
					    <div class="row">
    						<div class="col-xs-2">
							<img src="@charity.ImageUrl" class="img-responsive img-rounded"/>
    						</div>
	                        <div class="col-xs-10">
		                        <h2>@charity.Name</h2>
							    <p>@charity.Description</p>
                            </div>  

					    </div>
                    </div>
                </div>
            }        
		</div>
    </div>
   
</div>


