@{
    Layout = "_Layout";

}
<style>
    h2, h3{
        margin-top: 10px;
	}
	.glyphicon{
	    font-size: 1.5em;
	}
</style>
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1>Your Results</h1>

		</div>
	</div>
    <div class="row">
        <div class="col-sm-12">
            @foreach(var charity in Model)
            {
    			<div class="panel panel-default" style="border: 3px solid orange;">
                    <div class="panel-body">
					    <div class="row">
    						<div class="col-xs-2">
							<img src="@charity.ImageUrl" class="img-responsive img-rounded"/>
    						</div>
	                        <div class="col-xs-10">
							<div class="row">
                                <div class="col-xs-6">
                                     <h2>@charity.Name</h2>
								</div>
                                <div class="col-xs-6">
								<div class="pull-right">
                                            @if(charity.SupportF.Contains("Money")){
                                                <span class="glyphicon glyphicon-gbp" aria-hidden="true"></span>
                                            }
                                            @if(charity.SupportF.Contains("Services")){
                                                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                            }
                                            @if(charity.SupportF.Contains("Space")){
                                                <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                                            }
                                        </div>
								</div>
								</div>
						        <h3>Cause: @charity.Cause</h3>
                                <p>@charity.Description</p>
							    <div class="row">
								    <div class="col-xs-6">
									    
								    </div>
								    <div class="col-xs-6">
    									<div class="pull-right">
                                            <button class="btn btn-default">Find Out More</button>
                                            <button class="btn btn-default">
										                                                <span class="glyphicon glyphicon-heart" style="font-size: 14px;" aria-hidden="true"></span>
</button>
                                        </div>
                                    </div>
							    </div>
                            </div> 
    						

					    </div>
    				
                    </div>
                </div>
            }        
		</div>
    </div>

</div>


