@{
    Layout = "_Layout";
}
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-push-2" id="charityDetailsMainDiv">
            <span><img src="" alt="Charity Logo" align="middle"/><p>Charity Name</p></span>
            <span><p>About</p><p> - Charity About Section - </p></span>
            <p>Accomplishments</p>
            <p> - Charity Accomplishments - </p>
            <p>Future Campaigns</p>
            <p> - Charity Future Campaigns - </p>
            <p>Urgent Requirements</p>
            <p> - Charity Urgent Requirements - </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-sm-push-2">
        <button type="button" class="btn btn-primary">Start Helping</button>
            </div>
    </div>
</div>
