@{
    Layout = "_Layout";
}

<script>
    // init controller
    var controller = new ScrollMagic.Controller();

    // build tween
    var tween = TweenMax.from("#animate", 0.5, {autoAlpha: 0, scale: 0.7});

    // build scene
    var scene = new ScrollMagic.Scene({triggerElement: "a#top", duration: 200, triggerHook: "onLeave"})
                    .setTween(tween)
                    .addTo(controller);

    // change behaviour of controller to animate scroll instead of jump
    controller.scrollTo(function (newpos) {
        TweenMax.to(window, 0.5, {scrollTo: {y: newpos}});
    });

    //  bind scroll to anchor links
    $(document).on("click", "a[href^='#']", function (e) {
        var id = $(this).attr("href");
        if ($(id).length > 0) {
            e.preventDefault();

            // trigger scroll
            controller.scrollTo(id);

                // if supported by the browser we can even update the URL.
            if (window.history && window.history.pushState) {
                history.pushState("", document.title, id);
            }
        }
    });
</script>
<script src="~/Content/home_scripts.js"></script>
<div id="top" class="parallax">

        <h1 id="tagline">Is it time you got Kindr?</h1>
   <!-- <img src="~/Content/Images/uparrow.png" class ="animated pulse infinite glyphicon glyphicon-chevron-up"id="upButton" onmouseover="upButtonSlideUp()"/> -->
    <i id="upButton" onmouseover="upButtonSlideUp()" class="animated pulse infinite glyphicon glyphicon-chevron-up"></i>
</div>

<div id="about-us" style="height:100vh">
	<div class="container">
        <div class="row">
            
            <div class="col-sm-10 col-sm-push-1" id="homecontentdiv">
                <p>Kindr matches businesses and charities to streamline CSR. We keep track of of everyone's needs to be your one stop CSR relationship dashboard.</p>
                <button id="businessLoginButton"class="btn btn-primary">I Am a Business</button>
                <button id="charityLoginButton"class="btn btn-primary">I Am a Charity</button>
            </div>
            <div class="col"></div>
        </div>    
    
    </div>

</div>