@{
    Layout = "_Layout";
}
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-push-2">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id ex sit amet nisl egestas aliquet. Ut ultricies malesuada urna ut tincidunt. Quisque commodo tortor tellus, eget molestie dui viverra eget. Nullam pretium nibh in condimentum rhoncus. Suspendisse ultrices diam odio. Morbi sed felis nisl. Nulla non arcu mauris. Integer feugiat dictum nibh ut lobortis. Sed at sodales tortor. Morbi et sem vel ipsum faucibus sagittis. Nulla dictum a mi eget facilisis. Curabitur eget leo ut tortor elementum faucibus. Suspendisse at enim id quam congue malesuada vitae ac sem. </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-sm-push-2">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id ex sit amet nisl egestas aliquet. Ut ultricies malesuada urna ut tincidunt. Quisque commodo tortor tellus, eget molestie dui viverra eget. Nullam pretium nibh in condimentum rhoncus. Suspendisse ultrices diam odio. Morbi sed felis nisl. Nulla non arcu mauris. Integer feugiat dictum nibh ut lobortis. Sed at sodales tortor. Morbi et sem vel ipsum faucibus sagittis. Nulla dictum a mi eget facilisis. Curabitur eget leo ut tortor elementum faucibus. Suspendisse at enim id quam congue malesuada vitae ac sem. </p>
        </div>
    </div>
</div>
