@{
    Layout = "_Layout";
}

<!--RIP-->


<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h2>Search</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">

            <div class="row">
                <div class="col-sm-6">
                    <label class="checkbox-inline">
                        <input type="checkbox" value="">Small
                    </label>
                </div>
                <div class="col-sm-6">
                    <label class="checkbox-inline">
                        <input type="checkbox" value="">Medium
                    </label>
                </div>
                <div class="col-sm-6">
                    <label class="checkbox-inline">
                        <input type="checkbox" value="">Large
                    </label>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">

            <!--dropdown-->
            <div class="row">
                <div class="col-sm-12">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            County
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#">Norfolk</a></li>
                            <li><a href="#">Suffolk</a></li>
                            <li><a href="#">Cambridgeshire</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                </div>


                <!--CheckBox-->
                <div class="row">
                    <div class="col-sm-12">
                        <label class="checkbox-inline">
                            <input type="checkbox" value="">Religous
                        </label>
                    </div>
                </div>

                <!--Tripple Check Box-->
                <div class="row">
                    <div class="col-sm-12">
                        <br> <label>Size</label><br>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="">Small
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="">Medium
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="">Large
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

