

.navbar{
}

.parallax {
    /* The image used */
    background-image: url("Images/parallax.png");
    /* Set a specific height */
    min-height: 800px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-brand{
    padding:10px;
}

#charityDetailsMainDiv{
    background-color:lightgray;
    border: 1px solid black;
    border-radius: 5px;
}